@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

:root {
  --blue: #536DFE;
  --lightblue: #03a9f4;
  --yellow: #fbc02d;
  
  --bg-2: #eef3f7;

  --border-color: #e0e6ed;
  --sidebar-gap: max(10%, 190px);

  --text-color: #465A6E;
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXX3I6Li01BKofIMNaNRs71cA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Reset */
html, div, h1, h2, h3, h4, h5, input {
  color: var(--text-color);
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}
.btn {
  font-weight: 400;
}

/* disabled */
#input-add, #category-add, #plus-tools {
  display: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
  color: #aba499;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #c8d0d8;
}

/* page */

#page {
  display: flex;
  flex-direction: row;
}

/* sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;

  max-width: max(10%, 200px);
  padding: 24px 20px;
  overflow: auto;
  height: 100vh;
}

#page-title {
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: bold;
}

#descriptions {
  text-align: center;

  border-radius: 12px;
  font-size: 0.9rem;

  padding: 8px 12px;
}

.sidebar__subtitle {
  font-family: "Nunito";
  text-transform: uppercase;
  font-size: 0.9rem;

  padding: 0 8px 12px 8px;
}

.sidebar__subtitle::before {
  content: "# ";
}

.sidebar__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#descriptions {
  color: #90A4AE;
  background-color: #ECEFF1;
}

/* content */

#content {
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.input-text input {
  border: none;
  outline: none;

  height: 40px;
  width: max(50%, min(400px, 100%));

  padding: 0 4px;
  margin-right: 4px;
}

.empty-block,
.row {
  padding: 0 12px;

  height: 60px;
  display: flex;
  align-items: center;
}

#category-title {
  font-size: 1.2rem;
}

/* link */

.sub-category__title {
  background: none;
  border: none;
  outline: none;
  text-align: start;
}

.sub-category,
.link {
  display: flex;
  flex-direction: row;
  gap: 10px;

  padding: 8px 16px;
}

.sub-category__icon,
.link__icon {
  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.folder {
  height: 22px;
  width: 24px;
  background-image: url(./pasta.svg);
  background-repeat: no-repeat;
}

.sub-category__title,
.link__title {
  font-family: Arial;
  font-size: 16px;
  padding: 4px;

  width: 100%;
}

.link__title {
  white-space: nowrap;
  overflow-x: scroll;
}

.link__favorite::before {
  content: "⭐ ";
}

/* colors */

.btn:hover {
  color: var(--yellow);
}

#sidebar {
  border-right: 2px solid var(--border-color);
}

.sidebar__subtitle {
  color: #8895a7;
}

#page-title {
  color: var(--blue);
}
#page-title:hover {
  color: var(--lightblue);
}

.input-text input {
  background-color: #fff;
}
.input-text input::placeholder {
  color: #bfbfbf;
  text-rendering: auto;
}
.input-text input:focus {
  background-color: #f5f8fa;
}

.input__error input {
  border: 1px solid red;
}
.input__error input:focus {
  border: 1px solid red;
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.row {
  border-bottom: 1px solid var(--border-color);
}

.link__title {
  color: black;
}

.link:hover .link__title {
  color: var(--lightblue);
}

.sub-category__items {
  background-color: var(--bg-2);
}

.sub-category,
.link {
  border-bottom: 1px solid var(--border-color);
}

.category__title,
.sub-category__title {
  color: var(--blue);
}

/* transitions */

#page-title,
.btn ,
.sub-category__title ,
.link__title {
  transition: color 0.24s ease-in-out;
}

/* burger */

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  background: #546EFF;
  box-shadow: 0 2px 5px #546EFF;
}
